{% extends 'base.html.twig' %}

{% block title %}
    Tareas
{% endblock %}

{% block body %}


    <div class="row">

        <div class="col-md-12">
            <div class="page-header">
                <h2><a href="{{ path('tarea') }}">Tarea</a></h2>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">               

            <!-- FILTERING -->
            <div class="col-md-12">
                <div  id="filters" class="collapse">

                    {% form_theme filterForm 'forms-layout/bootstrap_3_horizontal_layout.twig.html' %}
                    <form class="well" action="{{ path('tarea') }}" method="get" >
                        <div class="row">



                            <div class="col-md-6">
                                {{ form_label(filterForm.id) }}
                                {{ form_widget(filterForm.id) }}
                            </div>




                            <div class="col-md-6">
                                {{ form_label(filterForm.titulo) }}
                                {{ form_widget(filterForm.titulo) }}
                            </div>




                            <div class="col-md-6">
                                {{ form_label(filterForm.descripcion) }}
                                {{ form_widget(filterForm.descripcion) }}
                            </div>




                            <div class="col-md-6">
                                {{ form_label(filterForm.createdAt) }}
                                {{ form_widget(filterForm.createdAt) }}
                            </div>




                            <div class="col-md-6">
                                {{ form_label(filterForm.updatedAt) }}
                                {{ form_widget(filterForm.updatedAt) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_rest(filterForm) }}
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning" name="filter_action" value="filter"> <span class="fa fa-filter" aria-hidden="true"></span>&nbsp;{{ 'crudMensaje.filtrar'|trans }}</button>
                                    <button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="fa fa-minus-circle " aria-hidden="true"></span>&nbsp;{{ 'crudMensaje.reiniciar'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END FILTERING -->





            <div class="col-md-3 col-lg-4">

                <a class="btn btn-primary h3" href="{{ path('tarea_new') }}" style="margin-bottom:10px">
                    <span class="fa fa-plus-circle" aria-hidden="true"></span>&nbsp;{{ 'crudMensaje.nuevo'|trans }}
                </a>

                <a class="btn btn-info dropdown-toggle h3" data-toggle="collapse" data-target="#filters">
                    {{ 'crudMensaje.filtrar'|trans }}&nbsp;<span class="caret"></span>
                </a>


            </div>



            <div class="col-md-3 col-lg-4 pull-left">

                <!-- PAGE SIZE -->
                <div class="pagination form-inline col-xs-12 ">
                    <select class = "form-control"  onchange="window.location = this.value" >
                        <option value='{{ path('tarea', app.request.query.all|merge({'pcg_show': '10'})) }}' {% if app.request.get('pcg_show') == 10 %} selected {% endif %}>10</option>
                        <option value='{{ path('tarea', app.request.query.all|merge({'pcg_show': '20'})) }}' {% if app.request.get('pcg_show') == 20 %} selected {% endif %}>20</option>
                        <option value='{{ path('tarea', app.request.query.all|merge({'pcg_show': '50'})) }}' {% if app.request.get('pcg_show') == 50 %} selected {% endif %}>50</option>
                        <option value='{{ path('tarea', app.request.query.all|merge({'pcg_show': '100'})) }}' {% if app.request.get('pcg_show') == 100 %} selected {% endif %}>100</option>
                        <option value='{{ path('tarea', app.request.query.all|merge({'pcg_show': '500'})) }}' {% if app.request.get('pcg_show') == 500 %} selected {% endif %}>500</option>
                    </select>
                </div>
                <!-- END PAGE SIZE -->

            </div>            </div>            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {%- if form_errors(filterForm) %}
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
            {% endif %}
            </div>

        </div> <!-- /#top -->




        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br>
            {% for type, flashMessages in app.session.flashbag.all() %} 
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }} alert-dismissible animated bounce">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ flashMessage|raw }}
                    </div>
                {% endfor %} 
            {% endfor %} 
            <br>
        </div>
        {% if tareas|length > 0 %}

            <div class="row">

                <div class="table-responsive col-md-12">
                    <form method="POST" id="bulk_form" action="{{ path('tarea_bulk_action') }} ">
                        <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th width="20px"><input type="checkbox" class="check-all" onclick="toggleAll(this)"></th>

                                    {% import "PetkoparaCrudGeneratorBundle::macros/th_sortable.html.twig" as macros %}
                                    <th>{{macros.th_sortable('id',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'tarea')}}</th>
                                    <th>{{macros.th_sortable('titulo',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'tarea')}}</th>
                                    <th>{{macros.th_sortable('descripcion',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'tarea')}}</th>
                                    <th>{{macros.th_sortable('createdAt',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'tarea')}}</th>
                                    <th>{{macros.th_sortable('updatedAt',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'tarea')}}</th>
                                    <th>{{macros.th_sortable('estadoId',app.request.get('pcg_sort_col'), app.request.get('pcg_sort_order') , 'tarea')}}</th>


                                    <th width = "130px">List</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tarea in tareas %}
                                    <tr>
                                        <td><input type="checkbox" name="ids[]" onclick='bulkSubmitBtnManage();' class="check-all" value="{{tarea.id}}"/></td>
                                        <td><a href="{{ path('tarea_edit', { 'id': tarea.id }) }}">{{ tarea.id }}</a></td>
                                        <td>{{ tarea.titulo }}</td>
                                        <td>{{ tarea.descripcion }}</td>
                                        <td>{%- if tarea.createdAt %}{{ tarea.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{%- if tarea.updatedAt %}{{ tarea.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td><span class="lead"><strong>
                                            {%- if tarea.estadoId %}{{ tarea.estadoId.nombre }}{% endif %}</strong></span><br>
                                                
                                                {% if estados %}
                                                    {%for e in estados %}
                                                        
                                                       {% if e.id != tarea.estadoId.id %} 
                                                <a href="{{ path('estado_tarea_edit', {'id': tarea.id, 'estado': e.id}) }}" class="btn btn-primary">{{ e.nombre }}</a>
                                                {% endif %}
                                                
                                                {% endfor %}
                                                    {% endif %}
                                            
                                        </td>

                                        <td class="actions">
                                            <a  onclick="return confirm('{{ 'crudMensaje.eliminar'|trans }}?');" title="{{ 'crudMensaje.eliminar'|trans }}" class="btn btn-danger btn-sm" href="{{ path('tarea_by_id_delete', { 'id': tarea.id}) }}">
                                                <span class="fa fa-remove" aria-hidden="true"></span>
                                            </a>
                                            <a title='{{ 'crudMensaje.detalle'|trans }}' class="btn btn-info btn-sm" href="{{ path('tarea_show', { 'id': tarea.id }) }}">
                                                <span class="fa fa-eye" aria-hidden="true"></span>
                                            </a>
                                            <a  title='{{ 'crudMensaje.editar'|trans }}' class="btn btn-primary btn-sm" href="{{ path('tarea_edit', { 'id': tarea.id }) }}">
                                                <span class="fa fa-edit" aria-hidden="true"></span>
                                            </a>
                                        </td>


                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </form>


                </div>
            </div> <!-- /#list -->




            <div class="row">
                <div class="col-md-4 pull-left">
                    <div class="pagination form-inline ">
                        <select class = "form-control" name="bulk_action" >
                            <option value="delete">{{'crudMensaje.eliminar'|trans|upper }}</option>
                        </select>
                        <button type="submit" id='bulkSubmitBtn' onclick="return confirm('{{'crudMensaje.eliminar'|trans }}?')" form="bulk_form" class="form-control btn btn-danger btn-md" disabled><i class="fa fa-trash-o"></i>&nbsp;{{'crudMensaje.enviar'|trans }}</button>
                    </div>
                </div>

                <div class='col-md-3 pagination text-center'>
                    <p>{{totalOfRecordsString}}</p>
                </div>

                <div class="col-md-5 text-right">
                    {{ pagerHtml|raw }} 
                </div>
            </div> <!-- /#bottom -->

        {% else %}
            <center><h1 class="text-danger">{{ 'crudMensaje.no_hay_registros'|trans }}</h1></center>
            {% endif %}

        {% endblock %}

            {% block javascripts %}
                <script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>
            {% endblock %}