{% trans_default_domain 'FOSUserBundle' %}

<br>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}


<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock"></i></span>
    </div>
    <!--<input type="password" class="form-control" placeholder="Password">-->
    {#{ form_label(form.plainPassword.first) }#}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Contraseña' } }) }}
    <span class="text-danger">
    {{ form_errors(form.plainPassword.first) }}
    </span>
</div>

<div class="input-group mb-4">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock"></i></span>
    </div>
    <!--<input type="password" class="form-control" placeholder="Repeat password">-->
    {#{ form_label(form.plainPassword.second) }#}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Repetir contraseña' } }) }}
    
</div>

{{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
</div>

{{ form_end(form) }}
